body {
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

form {
    margin: auto;
    margin-top: 150px;
    width: 100%;
    max-width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.email {
    margin-bottom: 20px;
}

.password {
    margin-bottom: 20px;
}

.lol {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.lol i {
    margin: auto;
    margin-left: 5px;
}

form input {
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: black;

}

form input[type="submit"] {
    margin-left: 10px;
    width: 85px;
    padding: 8px;
}
form input::placeholder {
    text-align: center;
    color: white;
}

.noAccount {
    margin-top: 20px;

}
.noAccount a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
}

.logout {
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    margin-top: 3vh;
    margin-left: 2vh;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s;
}

.logout:hover {
    transform: scale(1.04);
    box-shadow: rgb(59, 89, 121) 0px 20px 30px -10px;

}

.logout a {
    text-decoration: none;
    color: white;
}