/* General Styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logout {
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    margin-top: 3vh;
    margin-left: 2vh;
    color: rgb(255, 255, 255);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s;
}

.logout:hover {
    transform: scale(1.04);
    box-shadow: rgb(59, 89, 121) 0px 20px 30px -10px;

}

.logout a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Table Styling */
.table-container {
    width: 100%;
    margin: auto;
    background-color: #1e1e1e;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

td {
    background-color: #222222;
    color: #ffffff;
    padding: 8px;
    border-bottom: 1px solid #444444;
}

tr:hover {
    background-color: #333333;
}

td a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: color 0.3s ease;
}

td a:hover {
    color: #eaeaea;
}
