/* styling for the memberships */
.memberships {
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 5vh ;
}


.menu {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    margin-top: 10px;

}

.membership-plan {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.membership-plan:nth-child(2) {
    background-color: black;
    color: white;
}

.membership-box{
    display: flex;
    align-items: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: space-between;;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* effect for memberships boxes */
.membership-box:hover {
    transform: scale(1.1);
    transform: translateY(-5%);
    box-shadow: 0px 10px 100px 10px rgb(102, 243, 175);
    z-index: 999 !important;
}
/* basic membership styling */
.membership-box:nth-child(2) {
    background-color: black;
    color: white;
}

/* buttons styling */
.sign-up {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.sign-up1 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

h6 {
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
}

h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* table for comparing memberships */
.comparison {
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;

}

.comparison table {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

table td,
th {
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}


/* FAQ Styling */
.accordion {
    display: flex;
    justify-content: center;
    background-color: #cacaca;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 70%;
    margin: auto;
    border: none;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
  }
  .faqp {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding-bottom: 20px;
  }
  /* nice effect */
  .actives, .accordion:hover {
    background-color: #ccc;
    transform: scale(0.1);
    transform: translateY(-20%);
    box-shadow: 0px 5px 20px 5px rgb(78, 78, 78);
    z-index: 999 !important;

  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
  }
  
  .actives:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    width: 50%;
    margin: auto;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
